extends layout

block content
   // Main content
   section.content
    // Default box
    .box(style="background : #78909C;")
     .box-body
       style.
        /*  The switch - the box around the slider */
        .switch {
          position: relative;
          display: inline-block;
          width: 60px;
          height: 34px;
        }

        /* Hide default HTML checkbox */
        .switch input {display:none;}

        /* The slider */
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: .4s;
          transition: .4s;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
        }

        input:checked + .slider {
          background-color: #2196F3;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
          border-radius: 34px;
        }

        .slider.round:before {
          border-radius: 50%;
        }
      #googleMaps.col-md-12(style='height:525px')
     // /.box-body
     .box-footer
       br
       label.switch
        input#start_maps(type='checkbox' checked=data_relay.realtime_gps)
        span.slider.round
       br
       br
       label Start Realtime Maps
     // /.box-footer
    // /.box
   // /.content
    
   script(src='https://rmvts.jagopesan.com/socket.io/socket.io.js')
   //script(src='https://rmvts.herokuapp.com/socket.io/socket.io.js')
   //script(src='http://localhost:3000/socket.io/socket.io.js')
   script.
    var sc = io.connect('https://rmvts.jagopesan.com/');    
    //var sc = io.connect('https://rmvts.herokuapp.com/');
    //var sc = io.connect('http://localhost:3000/');
    var btnStartRealtimeMaps = document.getElementById('start_maps');
    
    btnStartRealtimeMaps.addEventListener('change', ()=>{
     if(gps.checked){
      this.sc.emit('activate_realtime_maps', {msg: true});
     }
     else{
      this.sc.emit('activate_realtime_maps', {msg: false});
     }
    });

    sc.on('activate_realtime_maps', (data)=>{
     if(data.msg){
      btnStartRealtimeMaps.checked = true;
     }
     else{
      btnStartRealtimeMaps.checked = false;
     }
    });


    function initMap(){
     var options = {zoom: 12, center:{lat:-7.250445, lng:112.768845}};
     var mapnya = document.getElementById('googleMaps');
     var map = new google.maps.Map(mapnya, options);

     var marker = new google.maps.Marker({
      position: new google.maps.LatLng(-7.279429, 112.791753),
      map: map
     });

     sc.on('send_data_to_client', function(data){
      var posisi_kendaraan = new google.maps.LatLng(data.latitude, data.longitude);
      console.log('latitude =>', data.latitude);
      console.log('longitude =>', data.longitude);

      marker.setPosition(posisi_kendaraan);
     });
    }

   script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyD7cRhqkBNwk5lsfw3HKBHO3PfV1Yv_yPU&callback=initMap')
