extends layout

block content
   // Main content
   section.content
    // Default box
    .box
     .box-body

      // checkbox
      style.
       /* The switch - the box around the slider */
        .switch {
          position: relative;
          display: inline-block;
          width: 60px;
          height: 34px;
        }

        /* Hide default HTML checkbox */
        .switch input {display:none;}

        /* The slider */
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: .4s;
          transition: .4s;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
        }

        input:checked + .slider {
          background-color: #2196F3;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
          border-radius: 34px;
        }

        .slider.round:before {
          border-radius: 50%;
        }

      .form-group
       // Rounded switch
       label ON/OFF LED
       br
       label.switch
        input#statuslampu(type='checkbox')
        span.slider.round

       br
       br

       label Start GPS
       br
       label.switch
        input#statusgps(type='checkbox')
        span.slider.round

       br
       br

       label Take Picture
       br
       input#takePicture.btn.btn-success(type="button", value="Take a picture")
       br
       label#pesantakefoto

     // /.box-body
     .box-footer
      | ON / OFF
     // /.box-footer
    // /.box
   // /.content

   script(src='https://rmvts.jagopesan.com/socket.io/socket.io.js')
   //script(src='https://rmvts.herokuapp.com/socket.io/socket.io.js')
   //script(src='http://localhost:3000/socket.io/socket.io.js')
   script.
    var d = new Date();
    var sekarang = d.getDate()+""+d.getMonth()+""+d.getFullYear()+"-"+d.getHours()+"-"+d.getMinutes();
    var sc = io.connect('https://rmvts.jagopesan.com/');    
    //var sc = io.connect('https://rmvts.herokuapp.com/');
    //var sc = io.connect('http://localhost:3000/');
    var lampu = document.getElementById('statuslampu');
    var gps = document.getElementById('statusgps');
    var ft = document.getElementById('takePicture');
    var pft = document.getElementById('pesantakefoto');

    gps.addEventListener('change', ()=>{
     if(gps.checked){
      sc.emit('statusgps', {msg: true});
     }
     else{
      sc.emit('statusgps', {msg: false});
     }
    });

    sc.on('statusgps', (data)=>{
     if(data.msg){
      gps.checked = true;
     }
     else{
      gps.checked = false;
     }
    });
