extends layout

block content

 section.content-header
  h3
   | Select periode
  input#periode_data(type="date")
  input#cariIgnition.btn.btn-success.mybutton(type="button", value="Search")

 // Main content
 section.content
  // Default box
  .box
   .box-body.no-padding
   table.table.table-striped
    tr
     th No
     th Title
     th Message
     th Created At
    each dd, i in dataignition
     tr
      td #{i+1}
      td #{dd.title}
      td #{dd.detail}
      td
       span.badge.bg-green #{dd.created}
   // /.box-body
   .box-footer
    | Find Your Locations
   // /.box-footer
  // /.box
 // /.content


 style.
     .button {
     background-color: #4CAF50; /* Green */
     border: none;
     color: white;
     padding: 8px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 12px;
     margin: 4px 2px;
     cursor: pointer;
     }
     .mybutton {
     border-radius: 10px;
     margin-left : 5px;
     }


 script.
  var btnSearch = document.getElementById('cariIgnition');

  btnSearch.addEventListener('click', ()=>{
   var periode_value = document.getElementById('periode_data').value;
   console.log(periode_value); 
   var urlPath = "https://rmvts.herokuapp.com/log_ignition/"+periode_value;
   window.location = urlPath;
  });