extends layout

block content

 section.content-header
  h3
   | Select periode
  input(type='date', id='periode')
  input#cariGPS.btn.btn-success.mybutton(type="button", value="Search")

 // Main content
 section.content
  // Default box
  .box
   .box-body.no-padding
   table.table.table-striped
    tr
     th No
     th Latitude
     th Longitude
     th Created At
     th Locations of Vehicle
    each dd, i in datalokasi
     tr
      td #{i+1}
      td #{dd.latitude}
      td #{dd.longitude}
      td
       span.badge.bg-green #{dd.created}
      td
       a.button.button.mybutton(href="/gmaps/"+dd.latitude+"/"+dd.longitude) See on The Maps
   // /.box-body
   .box-footer
    | Find Your Locations
   // /.box-footer
  // /.box
 // /.content


 style.
     .button {
     background-color: #4CAF50; /* Green */
     border: none;
     color: white;
     padding: 8px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 12px;
     margin: 4px 2px;
     cursor: pointer;
     }
     .mybutton {
     border-radius: 10px;
     margin-left : 5px;
     }


 //script(src='https://rmvts.jagopesan.com/socket.io/socket.io.js')
 //script(src='https://rmvts.herokuapp.com/socket.io/socket.io.js')
 //script(src='http://localhost:3000/socket.io/socket.io.js')
 script.
  //var sc = io.connect('https://rmvts.jagopesan.com/');
  //var sc = io.connect('https://rmvts.herokuapp.com/');  
  //var sc = io.connect('http://localhost:3000/');
  var btnSearch = document.getElementById('cariGPS');
  var periode_value = document.getElementById("periode").value;

  btnSearch.addEventListener('click', ()=>{
   console.log(periode_value); 
   var urlPath = "https://rmvts.jagopesan.com/log_gps/"+periode_value;
   window.location = urlPath;
  });

